#root {
	margin: 0 auto;
	height: 100%;
	width: 100%;
}

.App {
	height: 100%;
	width: 100%;
}

.logo {
	height: 32px;
  margin: 16px;
	text-align: center;
	line-height: 32px;
	font-size: 18px;
	color: #fff;
}


.read-the-docs {
	color: #888;
}
